[submodule "vendor/plugins/jiff_auth"]
	path = vendor/plugins/jiff_auth
	url = git://github.com/snitko/jiff_auth.git
[submodule "vendor/plugins/captcha"]
	path = vendor/plugins/captcha
	url = git://github.com/zendesk/captcha.git
[submodule "vendor/plugins/will_paginate"]
	path = vendor/plugins/will_paginate
	url = git://github.com/mislav/will_paginate.git
