				<tr>
					<td class="desc">
            <%= captcha_image %>
          </td>
					<td class="right">
            <%= captcha_input_text("Type the characters you see on the picture<br/><small>(case sensitive)</small>") %>
            <%= captcha_hidden_text %>
					</td>
				</tr>
