<div class="formErrorMessage">
  <h2 class="error">We couldn't submit this form due to some errors</h2>
  <small>We marked them, so please check the form again.</small>
  <p class="error"><%= error %></p>
</div>
