<div class="formErrorMessage">
  <h2 class="error">We couldn't submit this form due to some errors</h2>
  <small>We've marked them, so please check the form again.</small>
  <p class="error"><%= flash[:error] %></p>
</div>
