<% @title = "Change password" %>

  <div class="quick-action">
    <h2><%= @title %></h2>
    <p class="warning"><%=flash[:warning] %></p>
    <% form_for User.new, :url => 'change-password', :method => "post", :html => {:multipart => true} do |f| %>
      <table>

				<tr>
					<td class="desc">Password:</td>
					<td class="right">
            <input class="text" type="password" name="user[password]"/>
					</td>
				</tr>

				<tr>
					<td class="desc">Type it again:</td>
					<td class="right">
            <input class="text" type="password" name="user[password_confirmation]"/>
					</td>
				</tr>

				<tr><td class="desc"></td>
				<td><input type="submit" class="submit" value="Change it!"</td>
				</tr>
      </table>
    <% end %>
  </div>
