  <% @title = "I lost my password page" %>
  
  <div class="quick-action">
    <h2><%= @title %></h2>

    <p class="warning"><%=flash[:warning] %></p>

    <p>To recover your password, enter your email and recovery link will be sent to you.</p>
    <% form_for User.new, :url => 'lost-password', :method => "post", :html => {:multipart => true} do |f| %>
      <table>
      	<tr>
					<td class="desc">e-mail:</td>
					<td class="right">
            <input class="text" type="text" name="user[email]"/>
					</td>
				</tr>
				<tr><td class="desc"></td>
				<td><input type="submit" class="submit" value="Recover password"</td>
				</tr>
      </table>
    <% end %>
  </div>
