<% @title = 'About' %>
<div class="aligned" style="width: 500px;">
  <br/>
  <h1>What teachmate is all about?</h1>

  <p>The idea behind this service is simple: <strong>whoever teaches &mdash; learns</strong>. There are few simple things we wish our user could find out:
    <ul>
      <li class="green">You don't need to be a professional to teach. Instead, you have to teach to become a professional.</li>
      <li>You don't need to pay money for learning or ask for money when you teach someone.</li>
      <li>Learning is not about the degrees, it's about the process and what you can do with your knowledge.</li>
    </ul>

    <p>Have fun!</p>

  </p>
  

</div>
