<% @title = 'About' %>
<div class="aligned" style="width: 500px;">
  <br/>
  <h1>What teachmate is all about?</h1>

  <p>TeachMate.org is a service that helps people who wish to learn things find others who wish to teach them. You may think of it as of a dating service in education. We are also very fond of the idea of <i>teaching for teaching</i>: you can find people who'd love to teach you something in return for you teaching him another thing.</p> 

  <p>The essence of this service is simple: <strong>whoever teaches &mdash; learns</strong>. There are few simple things we wish our user could find out:
    <ul>
      <li class="green">You don't need to be a professional to teach. Instead, you have to teach to become a professional.</li>
      <li>You don't need to pay money for learning or ask for money when you teach someone.</li>
      <li>Learning is not about the degrees, it's about the process and what you can do with your knowledge.</li>
    </ul>

    <p>Have fun!</p>

  </p>
  

</div>
