	<div id="bigsearch">
		<form action="search" method="get">
			
			<p>
				I want to learn
				<input class="text" type="text" name="learn"/>
				<small class="smaller">
					<span class="gray2">Example:</span> 
					<span class="gray1">ruby on rails, snowboarding, bass guitar, music, mathematics, cooking apple pie</span>
				</small>
			</p>

			<p>
				<span class="green">I can teach</span>
				<input class="text" type="text" name="teach"/>
				<small class="smaller">
					<span class="gray2">Just the same as above - one or more words, separated by commas.</span>
				</small>
			</p>

			<p style="text-align: center">
				<input class="submit" type="submit" value="Find a teachmate"/> 
			</p>
	
		</form>

