<% @title = 'OpenSource' %>
<div class="aligned" style="width: 500px;">
  <br/>
  <h1>It's OpenSource!</h1>

  <p>
    TeachMate.org is an opensource project. Anyone can download sources and contribute code.
    It is written in <i>Ruby using RubyOnRails</i>.<br/>You can <a href="http://github.com/snitko/teachmate/tree">download source</a> from github.
  </p>

  <p>
    You can get additional information from README file and from my <a href="http://blog.snitko.ru/2008/10/26/why-teachmate-goes-opensource">blog here</a>.
  </p>

  <p>
    If you have any suggestions or questions, please contact me from <a href="users/1">my profile</a> or from my <a href="http://snitko.ru">homepage</a>.
  </p>

</div>
